$pageWidth: 700px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 800px;
$sidePanelWidth: 400px;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
